In [8]:
#import the pandas library and aliasing as pd
import pandas as pd
s = pd.Series()
print (s)

Series([], dtype: float64)

C:\Users\WIN 10\AppData\Local\Temp\ipykernel_21352\3276928564.py:3: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s = pd.Series()

In [9]:

import pandas as pd
import numpy as np
data = np.array(['a','b','c','d'])
s = pd.Series(data)

print("Numpy data Represitation \n",data ,"\n")

print("Pandas Series Represitation \n",s,"\n")

Numpy data Represitation
 ['a' 'b' 'c' 'd']

Pandas Series Represitation
 0    a
1    b
2    c
3    d
dtype: object

In [10]:

import pandas as pd
import numpy as np
data = np.array(['a','b','c','d'])
s= pd.Series(data,index=[100,101,102,103])
print (s)

100    a
101    b
102    c
103    d
dtype: object

In [11]:
#import the pandas library and aliasing as pd
import pandas as pd

data = {'a' : 0., 'b' : 1., 'c' : 2.}
s= pd.Series(data)

print (s)

# Index order is persisted and the missing element is filled with NaN (Not a Number).

a    0.0
b    1.0
c    2.0
dtype: float64

In [12]:
import pandas as pd
import numpy as np
data = {'a' : 0., 'b' : 1., 'c' : 2.}
s = pd.Series(data, index=['b', 'c', 'd', 'a'])
print(s)

#Index order is persisted and the missing element
#is filled with NaN (Not a Number).

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [13]:
import pandas as pd
import numpy as np
s = pd.Series(5, index=[0, 1, 2, 3])
print (s)

# If data is a scalar value, an index must be provided.
#The value will be repeated to match the length of index

0    5
1    5
2    5
3    5
dtype: int64

In [14]:
import pandas as pd
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])

print(s)

#retrieve the first element
print(s[0])

a    1
b    2
c    3
d    4
e    5
dtype: int64
1

In [15]:
import pandas as pd
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
#retrieve the first three element
print (s[:3])

a    1
b    2
c    3
dtype: int64

In [16]:
import pandas as pd
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
#retrieve the last three element
print (s[-3:])

c    3
d    4
e    5
dtype: int64

In [32]:
import pandas as pd
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
#retrieve a single element Using Label (Index)
print (s['a'])

1

In [34]:
import pandas as pd
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(s)
# Retrieve multiple elements using a list of index label values
print (s[['a','c','d']])

a    1
b    2
c    3
d    4
e    5
dtype: int64
a    1
c    3
d    4
dtype: int64

## Data Frame

In [36]:
import pandas as pd
df = pd.DataFrame()
print (df)

Empty DataFrame
Columns: []
Index: []

In [37]:
import pandas as pd
data = [1,2,3,4,5]
df = pd.DataFrame(data)
print (df)

   0
0  1
1  2
2  3
3  4
4  5

In [41]:
import pandas as pd
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
print (df)

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [2]:
import pandas as pd
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'],dtype=float)
print (df)

     Name   Age
0    Alex  10.0
1     Bob  12.0
2  Clarke  13.0

C:\Users\WIN 10\AppData\Local\Temp\ipykernel_21352\1285569995.py:3: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised.
  df = pd.DataFrame(data,columns=['Name','Age'],dtype=float)

In [6]:
import pandas as pd
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],
'Age':[28,34,29,42]}
df= pd.DataFrame(data)
print(df)

# Note: Observe the values 0,1,2,3. 
#They are the default index assigned to each using the
# function range(n).

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

In [17]:
import pandas as pd
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],
'Age':[28,34,29,42]}
df = pd.DataFrame(data, index=['rank1','rank2','rank3','rank4'])
print (df)

        Name  Age
rank1    Tom   28
rank2   Jack   34
rank3  Steve   29
rank4  Ricky   42

## Create a DataFrame from List of Dicts

In [19]:
import pandas as pd
data = [{'a': 1, 'b': 2},
{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data)
print (df)

# to create a DataFrame by passing a list of dictionaries
# and the row indices.

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [20]:
import pandas as pd
data = [{'a': 1, 'b': 2},
{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data, index=['first', 'second'])
print (df)

        a   b     c
first   1   2   NaN
second  5  10  20.0

In [26]:
import pandas as pd

data = [{'a': 1, 'b': 2},
{'a': 5, 'b': 10, 'c': 20}]

#With two column indices, values same as dictionary keys

df1 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b'])

#With two column indices with one index with other name

df2 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b1'])

print (df1)
print("\n")
print (df2)

        a   b
first   1   2
second  5  10


        a  b1
first   1 NaN
second  5 NaN

In [28]:
# Dictionary of Series can be passed to form a DataFrame. 
# The resultant index is the union
# of all the series indexes passed.

import pandas as pd
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
print (df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [34]:
# We will understand this by selecting a column from the DataFrame.

import pandas as pd
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
print (df ['one'])

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [38]:
# adding a new column to an existing data frame

import pandas as pd
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
# Adding a new column to an existing DataFrame object with column label by
#passing new series
print("Adding a new column by passing as Series:")
df['three']=pd.Series([10,20,30],index=['a','b','c'])
print (df)
print ("Adding a new column using the existing columns in DataFrame:")
df['four']=df['one']+df['three']
print (df)

Adding a new column by passing as Series:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
Adding a new column using the existing columns in DataFrame:
   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN

In [40]:
# Columns can be deleted or popped; let us take an example to understand how.
# Using the previous DataFrame, we will delete a column
# using del function
import pandas as pd
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']),
'three' : pd.Series([10,20,30], index=['a','b','c'])}
df = pd.DataFrame(d)
print ("Our dataframe is:")
print (df)
# using del function
print ("Deleting the first column using DEL function:")
del df['one']
print (df)
# using pop function
print ("Deleting another column using POP function:")
df.pop('two')
print (df)

Our dataframe is:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
Deleting the first column using DEL function:
   two  three
a    1   10.0
b    2   20.0
c    3   30.0
d    4    NaN
Deleting another column using POP function:
   three
a   10.0
b   20.0
c   30.0
d    NaN

In [43]:
import pandas as pd
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
'two' : pd.Series([1, 2, 3, 4], index=['a', 'c', 'b', 'd'])}
df = pd.DataFrame(d)
print (df.loc['b'])
# Rows can be selected by passing integer location to an iloc function.

one    2.0
two    3.0
Name: b, dtype: float64

In [48]:
import pandas as pd
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
print (df[2:4])
#Multiple rows can be selected using ‘ : ’ operator.

   one  two
c  3.0    3
d  NaN    4

In [56]:
# Add new rows to a DataFrame using the append function. 
# This function will append the
# rows at the end.

import pandas as pd
df = pd.DataFrame([[1, 2], [3, 4]], columns=['a','b'])
print(df,"\n")


df2 = pd.DataFrame([[5, 6], [7, 8]], columns=['a','b'])
df = df.append(df2)

print (df,"\n")

   a  b
0  1  2
1  3  4

   a  b
0  1  2
1  3  4
0  5  6
1  7  8

   a  b
1  3  4
1  7  8

C:\Users\WIN 10\AppData\Local\Temp\ipykernel_21352\1249720712.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df2)

In [59]:
import pandas as pd
df = pd.DataFrame([[1, 2], [3, 4]], columns=['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns=['a','b'])
df = df.append(df2)

print(df , "\n")
# Drop rows with label 0
df = df.drop(0)
print (df)

   a  b
0  1  2
1  3  4
0  5  6
1  7  8

   a  b
1  3  4
1  7  8

C:\Users\WIN 10\AppData\Local\Temp\ipykernel_21352\2108037590.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df2)